body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slideshow-container {
  position: absolute;
  max-width: 100%;
}

.mySlides {
  display: none;
  animation: fade 5s infinite;
}

img {
  width: 100%;
}
